/* HERO SECTION */
#hero {
    height: 75vh;

    /* // make everything center in css */
    display: flex;
    justify-content: center;
    align-items:  center;
}
.hero-col {
    /* // make everything center in css */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
#hero-image{
    /* width: 450px; */
    width: 450px;
    height: 450px;
}

/* CATEGORY SECTION */
.underline {
    width: 120px;
    height: 2px;
    background-color: rgb(30, 2, 2);
}

/* PRODUCT SECTION*/



/* DISCOUNT SECTION */
.discound-image {
    width: 300px;
}

/* FOOTER */
#footer ul {
    list-style-type : none;
    padding: 0;
}


